body{
    margin: 0;
    font-style: poppins;
}
.gradient{
    background: linear-gradient(120deg, white 45%,#FBC02B 55% );
}
.logo{
    display: flex;
    padding-left: 20px;
}
.burger{
    font-size: 22px;
    font-weight: bolder;    
    padding-top: 20px;
    margin-left: -12px; 
}
#matata{
    color: #FBC02B;
}
.nav-bar ul{
    list-style: none;
    margin-right: 200px;
}
 .nav-bar ul li a{
     text-decoration: none;
     color: black;
     font-size: 22px;
    font-weight: 500;
 }
 .nav-bar ul li{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 150px;
 }
 .nav-bar{
     display:flex;
     justify-content: space-between;
 }
 .img{
height: 400px;
width: 250px;
margin-left: 1200px;
outline: 1px solid red;
margin-top: -300px;
 }
 .rain{
     margin-top: 100px;
     font-size: 35px;
     padding-left: 50px;
 }
 
 .dine{
     font-size: 35px;
    padding-left: 50px;
 }
 .deliver{
     padding-left: 50px;;
 }
 .button{
     margin-left: 100px;
     background-color: orangered;
     border: none;
     color: white;
     padding: 15px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     
 }