body{
    margin: 0;
    font-style: poppins;
}
.section-1{
    background: linear-gradient(120deg, white 45%,rgb(246, 180, 0) 55% );
    border: 1px solid red;
    height: 800px;
}
.logo{
    display: flex;
    padding-left: 20px;
}
.burger{
    font-size: 22px;
    font-weight: bolder;    
    padding-top: 20px;
    margin-left: -12px; 
}
#matata{
    color: #FBC02B;
}
.nav-bar ul{
    list-style: none;
    margin-right: 200px;
}
 .nav-bar ul li a{
     text-decoration: none;
     color: black;
     font-size: 22px;
    font-weight: 500;
 }
 .nav-bar ul li{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 150px;
 }
 .nav-bar{
     display:flex;
     justify-content: space-between;
 }
 .img{
height: 400px;
width: 250px;
margin-left: 1200px;
outline: 1px solid red;
margin-top: -300px;
 }
 .rain{
     margin-top: 100px;
     font-size: 35px;
     padding-left: 50px;
 }
 
 .dine{
     font-size: 35px;
    padding-left: 50px;
 }
 .deliver{
     padding-left: 50px;;
 }
 .button{
     margin-left: 100px;
     background-color: orangered;
     border: none;
     color: white;
     padding: 15px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     
 }
 .section-2{
     height: 500px;
     background-color: rgb(247, 253, 246);
     border: 1px solid red;
     display: flex;
     justify-content: space-around;
     padding: 200px;

 }
 .quality{
     border: 1px solid red;
    height: 450px;
    width: 350px;
    
 }
 .fast{
border: 1px solid green;
height: 600px;
width: 350px;
 }
 .delicious{
border: 1px solid blue;
height: 450px;
width: 350px;
margin-right: -200px;
 }
 .section-3{
     border: 1px solid red;
     height: 1500px;
     background-color: white;
}
.menu{
    margin-left: 800px;
    margin-right: 800px;
    
}
.burger-card{
     border: 1px solid green;
     height: 450px;
     width: 350px;
     padding: 1%;
}
.burger-card>h4{
    margin-top: 50px;
}
 .burger-card-img{
     height: 200px;
     margin-left: 10%;
}
.burger-card>p{
    text-align: center;
}
.burger-card>h2{
    text-align: center;
    color: rgb(107, 36, 49);
    font-weight: 900;

}
.slim>img{
    height: 40px;
}
.slim{
    float: right;
}
.row{
    display: flex;
    justify-content: space-around;
    border: none;
    margin-top: 100px;
}
.section-4{
     border: 1px solid red;
     height: 800px;
     background-color: rgb(247, 253, 246);
}
.section-5{
     border: 1px solid red;
     height: 850px;
     background-color: rgb(246, 180, 0);
 }